*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

.month{
    font-size: 2.5rem;
    background-color: red;
    border-radius: 10px 10px 0 0 ;
    margin-bottom: 10px;
    font-weight: bold;
}


.day{
    margin-bottom: 10px;
    font-weight: bold;
}

.date{
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.year{
    font-weight: bold;
    margin-bottom: 10px;
}